@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    --black: #0e0e0e;
    --white: #f3f3f3;
    --gray: #a1a1a1;
    --mortar: #515151;
    --yellow: #ffee32;
    --bee: #ffd100;
    --paperlight: #f2ede3;
    --paperdark:#ebe3d6;
    --backgnd: var(--white);
    --foregnd: var(--black);
    --font: 'Signika';
    --highlight: rgb(0, 238, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font), sans-serif;
    font-weight: 300;
    font-size: 16px;
    outline: none;
    letter-spacing: 1px;
    /*To remove on tap blue color && select*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h1,h2,h3{
  font-family: 'Libre Baskerville', serif;
}
body{
  background-color: var(--black);
  color: var(--foregnd);
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  overflow: hidden;
}

.hamburger{
  z-index: 3;
  margin: auto 0px auto 20px;
  position: fixed;
  top: 25px;
  left: 30px;
  cursor: pointer;
}
.line1,.line2,.line3{
  display: block;
  content: "";
  width: 30px;
  height: 2px;
  background-color: rgb(240, 240, 240);
  margin: 5px 0 5px 0;
  transition: all 0.5s ease;
}
.line1.close{
  background-color: #0e0e0e;
  transform: translate(0px,0px) rotate(-45deg);
}
.line2.close{
  background-color: #0e0e0e;
  transform: rotate(45deg);
}
.line3.close{
  background-color: #0e0e0e;
  width: 16px;
  transform: translate(1px,2px) rotate(45deg);
}

.equilizer {
  position: fixed;
  z-index: 3;
  top:10px;
  right: 50px;
  height: 40px;
  width: 30px;
  transform: rotate(180deg);
  cursor: pointer;
}

.bar {
  fill: rgba(255, 255, 255, 0.4);
  width: 18px;
  height: 4px;
  stroke-width: 1px;
  stroke-opacity: 1;
}
.bar.animate{
  animation: equalize 3s steps(25, end) 0s infinite;
}

.bar:nth-child(1) {
  animation-duration: 3s;
}

.bar:nth-child(2) {
  animation-duration: 4s;
}

.bar:nth-child(3) {
  animation-duration: 5s;
}

.bar:nth-child(4) {
  animation-duration: 6s;
}

.bar:nth-child(5) {
  animation-duration: 2s;
}

@keyframes equalize {
  0% { height: 60px; }
  4% { height: 50px; }
  8% { height: 40px; }
  12% { height: 30px; }
  16% { height: 20px; }
  20% { height: 30px; }
  24% { height: 40px; }
  28% { height: 10px; }
  32% { height: 40px; }
  36% { height: 60px; }
  40% { height: 20px; }
  44% { height: 40px; }
  48% { height: 70px; }
  52% { height: 30px; }
  56% { height: 10px; }
  60% { height: 30px; }
  64% { height: 50px; }
  68% { height: 60px; }
  72% { height: 70px; }
  76% { height: 80px; }
  80% { height: 70px; }
  84% { height: 60px; }
  88% { height: 50px; }
  92% { height: 60px; }
  96% { height: 70px; }
  100% { height: 80px; }
}

nav{
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: -1;
  width: 0px;
  background-color: var(--paperlight);
  background-image: url('../assets/images/ebelogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* transform-origin: top left; */
  /* transform: scaleX(0); */
}
.navitem{
  opacity: 0;
}
.navlinks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20% 0;
}
.navlinks div{
  margin: auto;
  cursor: pointer;
}
.navsocial{
  /* flex:1; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navsocial a{
  margin: 0 10px;
}
.navsocial img{
  width: 30px;
}
#canvas{
display: block;
position: fixed;
top: 0%;
right: 0%;
width: 10vw;
height: 10vh;
/*To remove on tap blue color && select*/
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
touch-action: none;
}
.loading-bar{
  position: fixed;
  top: 50%;
  width: 100%;
  height:2px;
  z-index: 3;
  background-color: var(--backgnd);
  transform: scaleX(0);
  transform-origin: top center;
  will-change: transform;
}
#zone_joystick{
  position: fixed;
  display: none;
  border-radius: 50%;
  left: 80px;
  bottom: 60px;
  z-index: 1;
  /*To remove on tap blue color && select*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  border: 2px rgba(255, 255, 255, 0) solid ;
  will-change: border;
  transition: all 0.5s ease;
}
#zone_joystick img{
margin: auto;
}
#interractButton,#jumpButton{
  touch-action: manipulation;
  /* pointer-events: none; */
  display: none;
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: 1;
  border-radius: 50%;
  border: #fefefe 2px solid;
  padding: 2px;
  width: 50px;
  height: 50px;
  background-color: #ffffff63;
  /*To remove on tap blue color && select*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  transition: all 0.5s ease;
  will-change: border;
}
#interractButton{
  right:80px;
}
.highlight{
  /* display: none; */
  border: 2px var(--highlight) solid !important;
}

.closeProj{
  z-index: 3;
  padding: 10px;
  margin: 10px 12px;
  width: 40px;
  height: 40px;
  background-color: #ffffff63;
  position: fixed;
  /* top: 5%;*/
  right: 5%; 
  border: #fefefe 2px solid;
  border-radius: 50%;
  cursor: pointer;
}
.box,.library,.lab,.instructions{
  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: row; */
  align-items: center;
  /* margin: 20px; */
  position: fixed;
  z-index: -1;
  top: 0%;
  right: 0%;
  width:100%;
  height: 100%;
  /* background-color: #ffffff1e; */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 1;
}
.info_cont,.lib_cont{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: #393939ce;
  background-image: url('../assets/images/ebelogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* background: linear-gradient(-0deg, #efd5fff3 0%, #515adaf1 100%); */
  /* background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); */
  border: 2px #e0e0e0 solid;
  border-radius: 10px;
}
.laboratory{
  margin: auto;
}
.openBookImg{
  margin: auto;
  width: 90%;
  height: 90%;
  transform: scaleX(1);
}
.closeBook{
  z-index: 2;
  position: fixed;
  padding: 10px;
  /* margin: 10px 12px; */
  width: 40px;
  height: 40px;
  background-color: #ffffff63;
  top: 6.9%;
  right: 5.8%; 
  border: #fefefe 2px solid;
  border-radius: 50%;
  cursor: pointer;
}
.projImg{
  flex: 1;
  display: block;
  /* height: 70px; */
  padding: 30px;
  margin: auto;
}
.projImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.info{
  flex: 1;
  color: var(--white);
  font-size: 14px;
  /* height: 100%; */
  margin: auto;
  padding-left: 60px;
  /* background-color: #ffd100; */
}
.info h2{
  align-self: center;
  text-align: center;
  font-size: x-large;
  margin-bottom: 30px;
}
.info h3{
  font-size: medium;
  margin-bottom: 10px;
}
.info p{
  margin-bottom: 10px;
}
.prev,.next{
  position: fixed;
  z-index: -1;
  top: 50%;
  transform: translateY(-24px);
}
.next{
  right: 0%;
}

.library{
  z-index:-1;
  /* background-color: #e0e0e0; */
}
.lib_cont{
  /* background-color: var(--backgnd); */
  /* background-color: blanchedalmond; */
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}
.book{
  height: 80%;
  width: 30%;
  margin: auto 10px;
  border-radius: 2px;
}
.booktitle{
  height: 20%;
  position: relative;
}
.booktitle h3{
  position: absolute;
  top: 40px;
  left: 40px;
  height: 20%;
  font-family: 'Libre Baskerville', serif;
  font-size: x-large;
  color: #e0e0e0;
}
.about .booktitle{
  background: linear-gradient(140deg, #5a5482, #d097dc);
}
.resume .booktitle{
  background: linear-gradient(140deg, #475959, #76c086);
  /* background: linear-gradient(140deg, #505163, #808a96); */
}
.credits .booktitle{
  background: linear-gradient(140deg, #545577, #57b0c6);
}
.bookcontent{
  height: 80%;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: end; */
  align-items: center;
}
.bookcontent p{
  text-align: justify;
  line-height: 30px;
  padding: 20px;
  overflow:auto;
}
.credits-info{
  overflow-y: auto;
  text-align: left;
  line-height: 30px;
  padding: 10px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.credits-info::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.credits-info {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.bookbutton{
  position: absolute;
  bottom: 0px;
  left:50%;
  transform: translate(-50%,0%);
  align-self:baseline;
  margin: 20px auto;
  background-color: var(--paperdark);
  box-shadow: 5px 5px 25px 1px #0e0e0e99;
  border: #c9c5b9 1px solid;
  width: 150px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bookbutton:hover{
  background-color: #a1a1a1;
}
.about .bookcontent{
  background-color: var(--paperdark);
}
.resume .bookcontent{
  background-color: var(--paperdark);
}
.credits .bookcontent{
  background-color: var(--paperdark);
}


.instructions_icon{
  position: absolute;
  z-index: 2;
  text-align: center;
  /* vertical-align: middle; */
  line-height: 20px;
  top: 25px;
  right: 110px;
  width: 25px;
  height: 25px;
  border: 2px rgba(255, 255, 255) solid ;
  border-radius: 50%;
  color: #fefefe;
  opacity: 0.5;
  cursor: pointer;
}

.instructions_cont{
  background-color: #000;
  background-image: url('../assets/images/instructions_desktop.jpg');
}

@media only screen and (max-device-width: 800px){
  .book{
  flex: 1;
  }
  .booktitle{
    height: 20%;
    text-align: center;
  }
  .booktitle h3{
    height: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .bookcontent{
    height: 80%;
  }
  .bookcontent p{
    padding: 10px;
    overflow-y: scroll;
  }
  .bookcontent p,.bookcontent a,.bookbutton ,.credits-info{
    font-size: 12px;
    line-height: 20px;
  }
  .bookbutton{
    margin-bottom: 10px;
  }
  .instructions_cont{
    background-color: #000;
    background-image: url('../assets/images/instructions_mobile.jpg');
  }
}



.hide-portrait{
  display: none;
  background-color: blue;
}


@media only screen and (max-device-width: 800px) and (orientation:portrait){
  .info_cont{
    font-size: 12px;
  }
  .hide-portrait{
    opacity: 0.5;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
  }
  .hide-portrait img{
    width: 100px;
    -webkit-filter: invert(1);
   filter: invert(1);
  }
  .hide-portrait p{
    color: var(--white);
  }
}
