@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

:root {
    --black: #0e0e0e;
    --white: #f3f3f3;
    --gray: #a1a1a1;
    --mortar: #515151;
    --yellow: #ffee32;
    --bee: #ffd100;
    --backgnd: var(--white);
    --foregnd: var(--black);
    --font: 'Poppins';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font), sans-serif;
    outline: none;
    letter-spacing: 1px;
    /*To remove on tap blue color && select*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body{
  background-color: var(--backgnd);
  color: var(--foregnd);
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
  overflow: hidden;
}

.logo{
position: absolute;
z-index: 2;
/* bottom:5%;
left:5%; */
}
.logo a{
height: 100%;
}
.logo a img{
margin-top: 5px;
width: 50px;
}

#canvas{
display: block;
position: absolute;
top: 0%;
right: 0%;
width: 100%;
height: 100%;
/*To remove on tap blue color && select*/
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
touch-action: none;
}
.loading-bar{
  position: absolute;
  top: 50%;
  width: 100%;
  height:2px;
  z-index: 3;
  background-color: var(--backgnd);
  transform: scaleX(0);
  transform-origin: top left;
  will-change: transform;
}
.loading-bar.endload{
  transform-origin: top right;
  transform: scaleX(0);
  transition: transform 1.5s ease-in-out;
}
#zone_joystick{
  position: absolute;
  display: flex;
  border-radius: 50%;
  left: 40px;
  bottom: 40px;
  z-index: 1;
  /*To remove on tap blue color && select*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  border: 2px rgba(255, 255, 255, 0) solid ;
  will-change: border;
  transition: all 0.5s ease;
}
#zone_joystick img{
margin: auto;
}
#interractButton,#jumpButton,#runButton{
  display: block;
  position: absolute;
  bottom: 40px;
  right: 25px;
  z-index: 1;
  border-radius: 50%;
  border: #fefefe 2px solid;
  padding: 2px;
  width: 45px;
  height: 45px;
  background-color: #ffffff63;
  /*To remove on tap blue color && select*/
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: none;
  transition: all 0.5s ease;
  will-change: border;
}
#interractButton{
  right:80px;
}
.highlight{
  /* display: none; */
  border: 2px rgb(0, 238, 255) solid !important;
}

.closeProj{
  z-index: 3;
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff63;
  position: absolute;
  top: 25px;
  right: 25px;
  border: #fefefe 2px solid;
  border-radius: 50%;
  cursor: pointer;
}
.box{
  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: row; */
  align-items: center;
  /* margin: 20px; */
  position: absolute;
  z-index: -1;
  top: 0%;
  right: 0%;
  width:100%;
  height: 100%;
  /* background-color: #ffffff1e; */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  opacity: 1;
}
.proj_info_cont{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: #ffffff9b;
  border: 2px #e0e0e0 solid;
  border-radius: 10px;
}
.projImg{
  flex: 1;
  display: block;
  /* height: 70px; */
  padding: 30px;
  margin: auto;
}
.projImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.info{
  flex: 1;
  color: var(--black);
  font-size: 14px;
  /* height: 100%; */
  margin: auto;
  padding-left: 60px;
  /* background-color: #ffd100; */
}
/* .proj2{
  background-color: #55a93b;
}
.proj3{
  background-color: #665cff;
}
.proj4{
  background-color: #2d0bff;
}
.proj5{
  background-color: #ffc725;
} */

.prev,.next{
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-24px);
}
.next{
  right: 0%;
}